[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[user]
	name = {{ .personal.full_name }}
	email = {{ .personal.email }}
	signingkey = {{ onepasswordRead "op://bnodm2lukpxmk6lotmtqi6gca4/sjbzbdjavguaqcnkekyr6bl3ye/gpg_key_id" "MZ35OPW6FJA6HHBP2XLOFOGL2U" }}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
{{- if (.isWorkComputer) }}
[include]
  path = "{{.chezmoi.homeDir}}/.config/git/work_config"
{{- end }}
