{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}

[data]
isWorkComputer = {{ $isWorkComputer }}
[data.personal]
full_name = "Bernd Schorgers"
git_email = "me@bjw-s.dev"
