{
  "env": {
    "ANTHROPIC_BASE_URL": "https://litellm.bjw-s.dev",
    "ANTHROPIC_AUTH_TOKEN": "{{ onepasswordRead "op://rrs5eynf6ibou7zbumg56erpd4/tgnvgd3cz73vofjnlyv4sgcoxa/master_key" "MZ35OPW6FJA6HHBP2XLOFOGL2U" }}",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "minimax/MiniMax-M2.7",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "minimax/MiniMax-M3",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "minimax/MiniMax-M2.7",
    "MEMINI_URL": "https://memini.bjw-s.dev",
    "MEMINI_MCP_URL": "https://memini.bjw-s.dev/mcp",
    "MEMINI_TOKEN": "{{ onepasswordRead "op://rrs5eynf6ibou7zbumg56erpd4/df3jxky4ht2rzejses52yjlgte/api_key" "MZ35OPW6FJA6HHBP2XLOFOGL2U" }}"
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true,
    "memini@memini": true
  },
  "extraKnownMarketplaces": {
    "memini": {
      "source": {
        "source": "github",
        "repo": "eleboucher/memini"
      }
    }
  },
  "awaySummaryEnabled": false,
  "theme": "auto"
}
